:root{ 
    --white:#ffffff;
    --maroon:#97291e;
    }

.ctaButton > a{
    margin: auto;
    display: list-item;
    width: 150px;
    background:var(--maroon);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    border-radius: 20px;
    text-decoration: none;
}